.feedback-area {
    background: url('../../images/clientFeedbacks/8.jpg') no-repeat;
    padding: 115px 125px 70px;
    background-size: cover;
    background-position: center center;
}
.feedback-area .client-SubTitle {
    display: inline-block;
    color: #FF5A3C;
    background: #F3E7E5;
    padding: 5px 20px;
    border-radius: 25px;
    margin: 0 233px 15px 0;
}
.feedback-area .clientTitle {
    font-size: 44px;
    font-weight: 700;
    line-height: 1.3;
}
.feedback-area .leftArrow, .feedback-area .rightArrow {
    padding: 18px 22px;
    cursor: pointer;
    border: none;
}
.feedback-area .leftArrow {
    background: #FF5A3C;
    color: #fff;
    margin: 0 10px 0 0;
}
.feedback-area .rightArrow {
    background: #fff;
    color: #000;
    margin: 0 0 0 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1) !important;
    transition: all .3s ease;
}
.feedback-area .rightArrow:hover {
    background: #FF5A3C;
    color: #fff;
}

.clientSlider-container .clientInfo {
    background: #fff;
    margin: -60px 20px 0;
    padding: 25px 30px 30px;
    position: relative;
    z-index: 9;
    box-shadow:  0 5px 20px 0 rgba(23, 44, 82, 0.1);
}
.clientSlider-container .clientInfo .description {
    color: #5C727D;
    margin: 0 0 1.5em 0;
    font-size: 17px;
    text-align: left;
}
.clientSlider-container .clientInfo img {
    width: 60px;
    height: 60px;
    margin: 0 15px 0 0;
}
.clientSlider-container .clientInfo .authorInfo h4 {
    font-size: 22px;
    font-weight: 700;
    justify-content: start;
    text-align: left;
    line-height: 1.3;
}
.clientSlider-container .clientInfo .authorInfo h6 {
    justify-content: start;
    text-align: left;
    color: #FF5A3C;
    font-weight: 700;
    line-height: 1.3;
    font-size: 18px;
}
.clientSlider-container .clientInfo svg {
    font-size: 110px;
    line-height: 1;
    position: absolute;
    right: 15px;
    bottom: 5px;
    z-index: -1;
    opacity: 0.1;
}

/* over write */
.slick-dots li button:before {
    display: none;
}
/* < prev */
.slick-prev {
    
}

.slick-next {
    
}
