@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");
body {
  overflow-x: hidden;
}
.mainDiv {
  background: url("../../images/background.jpg") no-repeat;
  background-size: 100vw;
  height: 800px;
}
.textDiv {
  margin-top: 150px;
  color: white;
  margin-bottom: 300px;
}
.headerText {
  font-size: 5vw;
  font-weight: bolder;
  font-family: "Source Sans Pro", sans-serif;
}
.textDiv h6 {
  font-weight: bolder;
  margin-left: 10px;
}
#inputState {
  width: 280px;
  height: 70px;
  font-size: 20px;
  margin-right: 50px;
  padding: 10px;
}
.borderShadow {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(250, 249, 249, 0.19);
  background-color: white;
  padding: 20px;
  height: 120px;
}
.buttonStyle {
  height: 70px;
  width: 200px;
  font-weight: 500;
  border: none;
  background-color: #ff5a3c;
  color: white;
  transition: ease-out 0.3s;
}
.buttonStyle:hover {
  box-shadow: inset 200px 0 0 0 white;
  color: black;
  border: 1px solid black;
}
